@model CompanyViewModel

@{
    ViewData["Title"] = "Company Detail";
}

<h2>Product Detail</h2>
<table class="tab tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>@Model.CompanyName</td>
        </tr>
        <tr>
            <th>Bidang Bisnis</th>
            <td>@Model.Segmentasi</td>
        </tr>
        <tr>
            <th>Alamat</th>
            <td>@Model.Address</td>
        </tr>
    </tbody>
</table>